
.cabecalho{
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: 10;
}

.cabecalho__li{
    display: inline-block;
    margin: 0,5rem 2rem;
}

.cabecalho__a{
    display: inline-block;
    text-align: center;
    width: clamp(15rem, 8vw, 20rem);
    background-color: var(--bg-dark-med-gray);
    padding: 1rem;
    border-radius: 10px;
}

.cabecalho__li__a:hover {
    background-color: var(--bg-dark);
    color: var(--text-main);
}

.cabecalho__li--active {
    background-color: var(--bg-dark);
    color: var(--text-main);
}

.cabecalho__a--active {
    float: right;
    margin-right: 5rem;
}

.hero__btn:hover{
        background-color: var(--bg-dark);
        color: var(--text-main);
}
